* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*----------  Tem uma alteração neste bloco  ----------*/
body {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  overflow-x: hidden; /*Adicionar esta linha de código*/
}

.container {
  width: 80vw;
  min-height: 700px;
  background-color: #ffffff66;
  border: 2px solid #ffffff99;
  margin: 10vh auto;
  border-radius: 5px;
}

.filter__btns {
  margin-top: 50px;
  text-align: center; /*Remover esta linha de código*/

  /* Adicionar este resto de código */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.btn {
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid #fff;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.btn:not(:first-child) {
  margin-left: 30px;
}


/*----------  Adicionar este media query  ----------*/

/*==================================================
Os estilos neste bloco só serão aplicados celulares         
===================================================*/
@media screen and (max-width: 500px) {
  .container {
    width: 90vw;
    margin: 3vh auto;
  }
  .filter__btns {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 90%;
  }

  .btn:not(:first-child) {
    margin-top: 10px;
    margin-left: 0;
  }
}

/*----------  Aqui termina o bloco  ----------*/



.btn:hover {
  background-color: #fff;
}

.btn.active {
  background-color: #fff;
}


/*=============================================
   Verifica a alteração no bloco a seguir
=============================================*/
.filter__imgs {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr)); /*Alterar para este código*/
  grid-gap: 20px;
  justify-content: center;
  padding: 10px; /* Adicionar padding */
}

.filter__imgs img {
  width: 100%;
  height: 200;
  object-fit: cover;
  border: 2px solid #ffffff99;
  border-radius: 5px;
  animation: show 0.5s ease;
}

.filter__imgs img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.hide {
  display: none;
}

@keyframes show {
  0% {
    transform: translate(-50%, 100%) scale(0);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
